<h1>Logout</h1>

<form action="/logout" method="post">
    Enter Username: <input type=text name="username">
    <br>
    Enter Password: <input type=password name="password">
    <input type=submit name="Login">
</form>

<a href="/signup"><button>Create a new account</button></a>