# responsible for rendering the post form

<form action="/posts" method="post">
    Title: <input type="text" name="title">
    Content: <input type="text" name="title">
    <input type="submit" value="Create Post">
</form>
