Welcome to Fitnessgram
<br>
<form action="/signup">
    <input type="submit" value="Create an Account">
</form>

<a href="/signup"><button>I am a link</button></a>

<br>


<a href="/login"><button>Login</button></a>