

<% @daily_updates.each do |p| %>
    <p><%= p.caption %> - <%= p.id %> 
   
        <a href="/daily_updates/<%= p.id%>">View</a> 
        
  
    <% if current_user == p.user %>
        <a href="/daily_updates/<%= p.id%>/edit">Edit</a> 
    <% end %>
</p>
<% end %>

<a href="/daily_updates/new"><button>Create new daily update</button></a>
<a href="/logout"><button>Logout</button></a>

