# responsible for rendering the post form

<form action="/daily_updates" method="post">
    Enter Workout Type: <input type="text" workout_type="workout_type">
    <br>
    Enter Workout Minutes: <input type="number" workout_minutes="workout_minutes">
    <br>
    Enter Calories Burned: <input type="number" calories_burned="calories_burned">
    <input type="submit" value="Create Daily Update">
</form>
