

<form action="/daily_updates" method="post">
Enter Caption: <input type="text" name="caption">
    <br>
    Enter Workout Type: <input type="text" name="workout_type">
    <br>
    Enter Workout Minutes: <input type="number" name="workout_minutes">
    <br>
    Enter Calories Burned: <input type="number" name="calories_burned">
    <br>
    <input type="submit" value="Create daily update">
    
</form>

<a href="/daily_updates"><button>See all daily updates</button></a>
<a href="/logout"><button>Logout</button></a>
