# responsible for rendering the post form

<form action="/daily_updates" method="post">
    Enter Caption: <input type="text" name="caption">
    <br>
    Enter Workout Type: <input type="text" name="workout_type">
    <br>
    Enter Workout Minutes: <input type="number" name="workout_minutes">
    <br>
    Enter Calories Burned: <input type="number" name="calories_burned">
    <br>
    <input type="submit" value="Create Daily Update">
</form>
